/* Night theme override */
.book.color-theme-2 .book-body .body-inner .book-header {
    background-color: #a62639;
    color: white;
}

.book.color-theme-2 .fa {
  color: white;
}

.book.color-theme-2 .fa:hover {
  color: darkgrey;
}

/* PDF plugin */
.pdf__link > a {
  display: none;
}